@page
@model SessionFinal.Pages.CreateAccountModel
@{
}


<form method="post">
    <input type="email" name="email" placeholder="email address" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit"> Create Account</button>

</form>